/* ---- Footer---- */
.main-footer {
  @extend %clearfix;
    border-top: 1px solid $grey;
    padding: 1em 0;

  .footer-name {
      @extend %float-left;
      margin-bottom: 0;

      @media #{$brk-wide} {
        @include span-columns(4);
        display: initial;
      }
  }

  .footer-nav {
    @extend %text-upper;
    display: none;

    @media #{$brk-wide} {
      @include span-columns(6);
      display: initial;
      float: right;
      text-align: right;
    }

     ul {
      padding-left: 0;
      margin-bottom: 0;

      @media #{$brk-wide} {
        float: right;
      }
    }

    li {
      @media #{$brk-wide} {
        display: inline-block;
        margin-right: .25em;

        a {
          @media #{$brk-wide} {
            display: block;
            padding: 0 .25em .25em;
          }
        }

      }
    }

  }

}

/* Drop Down Menu Btn */

.btn-back {
  @extend %text-upper;
  float: right;

  @media #{$brk-wide} {
    display:none;
  }

  &:hover {
    color: $boston-blue;
    }
  }

