/****************************************
  MAIN-HEADER
/***************************************/

.main-header {
    @extend %centered;
    position: relative;
    background-color: $color-bg-med;
    background: linear-gradient( rgba($color-bg-med,0.9), rgba($color-bg-med,.9)), url('#{$path-img}/bg-2.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 0 2.5em;


    .name {
      margin-bottom: .5em;
    }

    @media #{$brk-wide} {
      & { 
        height: 425px;
        }

      .name {
        @include span-columns(6 of 12);
        float: left;
        margin-right: 0;
        text-align: left;
        padding-top: .5em;
      }
    }
}

.about {
    max-width: 75%;
    margin: 1em auto;
    text-align: left;

    @media #{$brk-tablet} {
      @include span-columns(6 of 12);
      float: left;
      margin-top: 0;
    }
    @media #{$brk-wide} {
      @include span-columns(8 of 12);
      float: left;
      margin-top: 0;
    }
}

.profile {
  &-container {
    background-color: rgba($color-bg-light, .7);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

      @media #{$brk-tablet} {
        @include span-columns(6 of 12);
        clear: both;
        float: right;
        margin-right: 0;
      }
      @media #{$brk-wide} {
        @include span-columns(4 of 12);
        float: right;
        margin-right: 0;
      }
  }

  &-pic {
      vertical-align: middle;
      border-radius: $br-round;
      width: 12em;
  }
}
