/* ---- Font Styles---- */

.name {
    font-size: $font-large;
    margin-bottom: 0;
    /* 24px / 16px */
}
.about, .proj-descr, .footer-name, .btn-back {
    font-size: $font-small;
    /* 14px / 16px */
}
.proj-title, .title, .contact-block p  {
    font-size: $font-med;
    /* 16px / 16px */
    -webkit-transition: font-size .5s;
    transition: font-size .5s;
}


/* ---- h2 Title all Containers/ Sections ---- */

.title {
    @extend %centered;
    @extend %text-upper;
    padding-bottom: 2.5em;
    /* 40px / 16px */
    margin-bottom: 0;

      @include desktop {
        font-size: $font-large;
      }
}

.contact-block p, .about {
    letter-spacing: .1em;

    @include desktop {
      font-size: $font-med;
    }
}

.title, .name, .proj-title, .skills-title {
    font-family: $stack-raleway;
}
