/****************************************
BASE STYLES
/***************************************/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    @include text(16px, 1.6, 400, $color-text-dark);
    background: $color-bg-med;
    font-family: $stack-open-sans;
    padding: 0;
    margin: 0;
    border-top: $black solid .75em;
}

p {
    margin-bottom: 1.5em;
}

h2, h3, a {
    color: $color-text-dark;
}
h1, h2, h3, p, ul {
    margin-top: 0;
}

a {
    font-weight: 400;
    text-decoration: none;
    &:hover {
        font-weight: 600;
        color: $color-text-light;
        transition: font-weight .5s;
    }
}

ul {
    list-style: none;
}
img {
    max-width: 100%
}

.selected {
  background: $black;
  color: $white;
}

.hide {
    display: none;
}

.show {
    height: 100%;
}
